.container {
    padding: 70 10;

}

.max-w {
    max-width: 1080px;
    margin: 0 auto;

}
img{
width: 100%;
}
body{
    font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
}
button{
    font-family: "Urbanist", sans-serif;
    font-size: 17;
    font-weight: 600;
    border: none;
}

.grid {
    display: flex;
    justify-content: space-between;
}

.grid2 .grid-sec {
    width: 45%;
}

.grid3 .grid-sec {
    width: 33%
}

.grid4 .grid-sec {
    width: 25%;
}


.header{
    background-color:whitesmoke;
    padding: 10 0;
   
    position: fixed;
   width: 100%;
   top: 0px;
   border-bottom:1px solid #ccc;
   border-bottom-color:rgb(241, 238, 238) ;
   
   
    
}
.header .li0{
    
    padding:0 25 0 25;
    font-weight: 600;
}
.header .ul1{
    padding-right: 30;
}
.griders{
    display: flex;
}

.head1 {
    width: 500px;
    font-size: 50;
}

.para1 {
    width: 450px;
    font-size: 22;
    margin: 50 0;

}
p{
    color: rgb(117, 116, 116);
}
li{
     color: rgb(82, 81, 81);
}

.header .link1 {
    display: flex;
    list-style: none;
    text-decoration: none;
    color: black;
    justify-content: space-around;
}


.but {
    background-color: rgb(74, 74, 243);
    width: 150;
    height: 50;
    color: white;
    border-radius: 5px;
}
.header .grid-seca{
    padding: 10 0 0 0;
}

.but1 {
    text-align: center;
    background-color: rgb(6, 6, 88);
    width: 150;
    height: 50;
    color: white;
    border-radius: 5px;
}

.but2 {
    width: 150;
    height: 50;
    color: rgb(40, 40, 107);
    border-radius: 5px;
    background-color: rgb(240, 236, 236);
    border: rgb(63, 63, 124) solid 2px;
   margin-left: 10px;
}


.header .log {
    padding-left: 50px;
}
/* drop down */

.demos {
    position: relative;
}

.demos .drop-down1 {
    display: none;
    position: absolute;
    border-radius: 10px;
   
  

}

.demos:hover .drop-down1 {
    display: block;
    background-color: black;
    
    border-radius: 10;
    width:1080; 
    left: -230px;
    padding-top: 10px;
    
    
   
    
   

    
    

}

.demos .drop-imag1 {
    display: flex;
    flex-wrap: wrap;
    border-radius: 10;
    padding: 25;
}

.demos .drop-imag1 .images {
    padding: 8;
    border-radius: 10px;
}

.demos .drop-imag1 .images img {
    width: 155;
    height: 100;
   border-radius: 10px;
}
.lop{
    background-color: black;
    width: 1;height:200;
    margin-left: 20;
}


.page {
    position: relative;
}

.page .drop-down2 {
    display: none;
    position: absolute;
    margin:30 0;
    border-radius: 5px;
}

.page:hover .drop-down2 {
    display: block;
    width: 200px;
    background-color: white;
  
    padding: 20 0 0 0;
}

.page .drop-down2 .drop-down2-ul2 li {
    list-style: none;
    line-height: 2.5;
    font-size: 17;
}

.project {
    position: relative;
    border-radius: 20;
}

.project .drop-down3 {
    display: none;
    margin: 30 0;
    border-radius: 10px;
}

.project:hover .drop-down3 {
    display: block;
    position: absolute;
    width: 300;
    height: 200;
    padding: 20;
    background-color: white;}

.project .drop-down3 .oner {
    display: flex;

}

.project .drop-down3 .oner li {
    line-height: 2;
    list-style: none;
}

.project .drop-down3 .oner h6 {
    color: rosybrown;
}

.blog {
    position: relative;
}

.blog .drop-down3 {
    display: none;
    position: absolute;
    margin: 30px;
    border-radius: 10px;

}

.blog:hover .drop-down3 {
    display: block;
    width: 230px;
    height: 100;
    background-color:white;
    padding: 30 10;

}

.blog:hover .drop-down3 li {
    list-style: none;
    line-height: 2;
}




.document{
    position: relative;
}
.document .drop-down6{
    display:none ;
    position: absolute;
    width: 1080;
    height: 400;
    right: -230px;
    border-radius: 10px;
    padding: 50 20;
    
}
.document:hover .drop-down6{
    display: block;
    margin: 30 0;
    background-color: white;
    display: flex;
    


}
.document:hover .drop-down6 .drop-down6a{
    display: flex;
}
.document:hover .drop-down6 .drop-down6a .drop7 li{
    list-style: none;
    line-height:2;
}
.document:hover .drop-down6 .drop7{
    line-height: 2;

}
.document:hover .drop-down6 .drop7 .drop8{
    padding: 80 60;
}
.document:hover .drop-down6 .drop7 .drop8a{
    padding: 35 60;

}
.document .heght{
    background-color: black;
    height: 400; width: 1px;
}
.document .droplast{
    display: flex;

    
    
}
.document .droplast .lastone li{
    list-style: none;
    line-height: 2;

}
.document .droplast .last{
    padding: 10 40;
    
}
.document .ok{
    padding: 50 20 0 20;
}
.document .height{
    width: 1px; height: 400px ;
    background-color: rgb(156, 153, 153);
}

.block {
    position: relative;
}
.block .drop-down10{
   display: none;
    position: absolute;

    
}
.block:hover .drop-down10 {
    display: block;
    background-color: rgb(12, 11, 11);
    width: 1080; height: 700;
    padding: 40 40;
    left: -700;
    border-radius: 10px;
   
}
.block .drops .ims img{
    width: 150; height: 100;
   border-radius: 10px;
   background-color: rgb(29, 27, 27);
}
.block .drops .ims{
    margin: 15 15;
}
.block .drops{
    display: flex;
    flex-wrap: wrap;
}
.block .drop-down10 .ims p{
    color: white;

}





/* page3 */

.page2{
    background-color:whitesmoke;}

    .page2 img {
        width: 470;
        height: 600;
        padding: 0 0 0 50;
    }
.page3 .para3{
    text-align: center;
    color: rgb(43, 43, 88);
}

.page3 .header3 {
    text-align: center;
  
    justify-content: center;
    width: 850;
    margin: 0 auto;
    font-size: 40;
}
h1, h2 ,h3{
        color: rgb(52, 63, 82);
}
.page3 a{
    text-decoration: none;
}
.page3 .grid-sec{
    text-align: center;
    width: 200;
    line-height: 1.5;
    padding: 20 0;
}
img{
    width: 100%;
}
.page3 img{
    width: 50;
    height: 50;
}
/* page4 */
.page4{
   
} 
.page4 .grid2 .grid-sec .page04{
    display: flex;
    flex-wrap: wrap;
}
.page04 .grid-sec1{
    display: flex;
    width: 240;
   
}
.page4 .grid2 .grid-sec .header4{
    width: 550;
    font-size: 45;
}
.page4 .grid2 .grid-sec .page04 .p4 img{
    padding: 20 10 0 0;
    width: 50; height: 50;
}
.page4 .grid2 .grid-sec .page04 .p4 .para041{
    font-size: 18;
}
.page4 .grid2 .grid-sec  .p4{
    padding: 0 10;
}
/* page5 */
.page5 .header5{
    width:500;
    font-size:45;
}
.page5 .para5a{
    width:450;
    font-size: 18;
    line-height: 1.5;
}
.page5 h1{
    font-size:50;
}
.page5 .para5{
    color: blue;
}
/* page6 */
.page6 .header6{
    text-align: center;
    width: 700;
    justify-content: center;
    font-size: 40;
    padding: 0 0 0 200;
    
}
.page6 .max-w{
    background-color: rgb(240, 237, 237);
}
.page6 .para6{
    text-align: center;
    color:rgb(56, 56, 226);
    padding: 40 0;
}
.page6 .img1 img{
    border-radius:350px 350px 300px 400px;
     padding: 20 0;
     width: 70%;
}
.page6 .para6a{
    width:450;
    line-height: 1.5;
    font-size: 17;

}
.page6 .str img{
    width: 150px; height: 50;
    padding: 40 0;
}
/* page7 */
.page7 .parap7{
    color: blue;
}
.page7 .header7{
    width: 450;
    font-size: 50;
}
.page7 .para7{
    width: 340;
    font-size:18;
} 

.page7 .ul7 li{
    list-style: none;
    line-height: 2;
    font-size: 20;

}
.page7 .ul7 button{
    margin: 40 0;
}
.page7 .p7 {
  display: flex;}
  .page7 .p7y{
    width: 40%;
  }
  .page7 .p7{
    width: 60%;

  }
  .page7 .p7 .p7a{
    width:50%;
    padding: 0 40;
  }
  .page7 .p7 .p7a .yt{
    display: inline;
  }

  .page7 .ul7a li{
  list-style: none;
  line-height: 2;
 
  
}
.head7a{
    padding-top: 40;
}
.page7 .ul7a{
     

     box-shadow:0 0 0 10px #fff, 0 0 0 11px;
   
    
}
.page7 .ul7a button{
    margin: 40 0;
}
.page7 .ul7{
     box-shadow:0 0 0 10px #fff, 0 0 0 11px;
   
   
   }
   /* page8 */
   .page8{
   
   }
   .page8 .header8{
    font-size: 45;
    width: 450;
   }
   .page8 .para8{
    font-size: 18;
    width:430;
    line-height: 1.5;
   }
   .page8 .p8{
    color: blue;
   }
   .page9{
    padding: 100 100;
    background-color: rgb(248, 245, 241);
   }
   .page9 .header9{
    text-align: center;
    width: 730;
    font-size: 40;
    justify-content: center;
    padding: 0 0 0 150;
   }
   .page9 .para9{
    color: blue;
    text-align: center;
   }
   .page9 input{
    width: 250;
    height: 50;
    
   
   }
   .page9 .buto{
    display: flex;
    justify-content: center;
   }
   .inputs{
    
   }
   .but100{
    border-bottom-right-radius: 10px;
    border-top-right-radius:10px ;
    width: 100; height: 50;
    background-color: rgb(66, 66, 134);
    color: white;
   }


   /* last */
   .last .l10{
    display: flex;
   }
   .last .l10a{
    display: flex;
    padding: 0 30;
   }
   .last .yer img{
    width: 150; height: 50;
   }
   .last .yer .last{
    font-size: 20;
    line-height: 1.5;
    width: 300;
   }
   .last .l10a .l10a1 img{
    padding: 10 0 0 0;

   }
   .last .l10a .l10a1 .last1{
    width: 200;
    
   }

    .end .logor{
        padding: 40 0 0 0;
    }
   .end .line{
    background-color: black;
    width: 1080; height: 1px;;
   }
   .end .logos ul{
    display: flex;
    margin: 40 20 0 20;
    list-style: none;
    justify-content: right;
}
.logos li{
    padding:0 10 0 10;

}
.end .logos img{
    width: 30; height: 30;
}
.last .inter{
    text-align: center;
    margin: 40 0;
}
.last .int11 {
    width: 160; height: 50;
    position: relative;
}
.last .bert{
    position: absolute;
    width: 40; height: 50;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(34, 34, 196);
   
}





